<h2 mat-dialog-title>CHANGE PASSWORD</h2>
<mat-dialog-content>

  <mat-form-field class="w-100">
    <mat-label>New Password</mat-label>
    <input matInput type="password" [formControl]="password" (input)="onPasswordInput()">
    <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
    <mat-error *ngIf="password.hasError('minlength')">Password must have at least 6 characters</mat-error>
  </mat-form-field>

  <mat-form-field class="w-100 mt-3">
    <mat-label>Confirm New Password</mat-label>
    <input matInput type="password" [formControl]="confirmPassword" (input)="onPasswordInput()">
    <mat-error *ngIf="confirmPassword.hasError('required')">Please confirm your password</mat-error>
    <mat-error *ngIf="confirmPassword.invalid && !confirmPassword.hasError('required')">Passwords don't match
    </mat-error>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close [mat-dialog-close]="data" [disabled]="noErrors()">Change</button>
  <button mat-button mat-dialog-close mat-dialog-close="close">Cancel</button>
</mat-dialog-actions>
