 <header>
   <!--Navbar-->
   <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark light-blue" [containerInside]="false" mdbStickyHeader>
     <div class="container">
       <!-- Navbar brand -->
       <mdb-navbar-brand><a class="navbar-brand" href="#">Kvsky Blog</a></mdb-navbar-brand>

       <!-- Collapsible content -->
       <links>

         <!-- Links -->
         <ul class="navbar-nav mr-auto">
           <li class="nav-item" routerLinkActive="active">
             <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>Home</a>
           </li>

           <li class="nav-item" routerLinkActive="active">
             <a routerLink="/articles" class="nav-link waves-light" mdbWavesEffect>Articles</a>
           </li>

           <!-- Dropdown -->
           <li *ngIf="data" class="nav-item dropdown" dropdown routerLinkActive="active">
             <a dropdownToggle mdbWavesEffect type=" button" class="nav-link dropdown-toggle waves-light"
               mdbWavesEffect>Categories<span class="caret"></span></a>
             <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
               <a *ngFor="let category of data.categories" class="dropdown-item waves-light"
                 routerLink="/category/{{category.id}}" routerLinkActive="active" mdbWavesEffect>{{category.name}}</a>
             </div>
           </li>

           <li class="nav-item" routerLinkActive="active">
             <a class="nav-link waves-light" mdbWavesEffect>Search flight</a>
           </li>
         </ul>
         <!-- Links -->

         <ng-container *ngIf="isLoggedIn; else guest">
           <ul class=" navbar-nav ml-auto nav-flex-icons">
             <li class="nav-item envelope-icon-pos">
               <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
             </li>
             <li class="nav-item avatar dropdown " dropdown>
               <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle no-caret waves-light"
                 mdbWavesEffect>
                 <img [src]="profilePhoto()" alt="" class="img-fluid rounded-circle z-depth-0 avatar-height"></a>
               <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                 <a routerLink="/my-account" routerLinkActive="active" class="dropdown-item waves-light" mdbWavesEffect
                   href="#">My account</a>
                 <a (click)="logout()" class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
               </div>
             </li>
           </ul>

         </ng-container>
         <ng-template #guest>
           <ul class=" navbar-nav ml-auto nav-flex-icons">
             <li class="nav-item" routerLinkActive="active">
               <a routerLink="/login" class="nav-link waves-light">Login</a>
             </li>
           </ul>

         </ng-template>

       </links>
       <!-- Collapsible content -->
     </div>
   </mdb-navbar>
   <!--/.Navbar-->
 </header>
