ul.navbar-nav {
  margin: 0;
  padding: 0;
}

.envelope-icon-pos {
  margin-top: 5px;
}

.avatar-height {
  height: 35px;
}

.dropdown-toggle.no-caret::after {
  display: none;
}

.intro-header {
  height: unset !important;
}

.dropdown-item.active {
  background-color: rgb(209, 0, 0);
  color: #FFFFFF;
}
