<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark green">
  <mdb-navbar-brand><a class="navbar-brand" href="#">Blog</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" href="#" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="data" class="nav-item dropdown" mdbDropdown>
        <a mdbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Categories<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a *ngFor="let category of data.categories" class="dropdown-item waves-light"
            routerLink="/category/{{category.id}}" routerLinkActive="active" mdbWavesEffect>{{category.name}}</a>
        </div>
      </li>
    </ul>
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div>
    </form>
  </links>
</mdb-navbar>
