<!-- Section: Blog v.4 -->
<section class="my-5">
  <div *ngIf="loading" class="text-center">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- Grid row -->
  <div *ngIf="data.article" class="row">

    <!-- Grid column -->
    <div class="col-md-12">

      <!-- Card -->
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img *ngIf="data.article.image" class="card-img-top card-img-resize"
            src="http://localhost:1337{{ data.article.image.url }}" alt="Sample image">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <h2 class="font-weight-bold">{{ data.article.title }}</h2>
          <!-- Category -->
          <mdb-badge color="red">{{ data.article.category.name }}</mdb-badge>
          <!-- Data -->
          <p>Written by <a><strong>{{ data.article.user.username }}</strong></a> on
            {{ data.article.published_at | date:'longDate'}}
          </p>
        </div>
        <!-- Card content -->

      </div>
      <!-- Card -->

      <!-- Excerpt -->
      <div class="mt-5">
        <markdown ngPreserveWhitespaces>{{ data.article.content }}</markdown>
      </div>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Blog v.4 -->
