<!--Intro Section-->
<section class="view intro-2">
  <div class="full-bg-img mask rgba-gradient">
    <div class="container flex-center">
      <div class="d-flex align-items-center content-height w-100">
        <div class="row flex-center pt-5 mt-3 w-100">
          <div class="col-md-6 text-center text-md-left mb-5">
            <div class="white-text">
              <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Hey traveler!</h2>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur
                adipisicing
                elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
                Commodi sequi
                non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</h6>
              <br>
              <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                mdbWavesEffect>Learn more</a>
            </div>
          </div>

          <div class="col-md-6 col-xl-5 offset-xl-1">
            <!--Form-->
            <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
              <mdb-card-body>
                <!--Header-->
                <div class="text-center">
                  <h3 class="white-text">
                    <mdb-icon fas icon="user" class="text-white"></mdb-icon> Register:
                  </h3>
                  <hr class="hr-light">
                </div>
                <!--Body-->
                <div class="md-form">
                  <input type="text" id="form3" class="text-white form-control" mdbInput>
                  <label for="form3" class="text-white">Your name</label>
                </div>
                <div class="md-form">
                  <input type="email" id="form2" class="text-white form-control" mdbInput>
                  <label for="form2" class="text-white">Your email</label>
                </div>
                <div class="md-form">
                  <input type="password" id="form4" class="text-white form-control" mdbInput>
                  <label for="form4" class="text-white">Your password</label>
                </div>
                <div class="text-center mt-4">
                  <button mdbBtn class="light-blue text-white" rounded="true" mdbWavesEffect>Sign up</button>
                  <hr class="hr-light mb-3 mt-4">
                  <div class="inline-ul text-center d-flex justify-content-center">
                    <a class="p-2 m-2 tw-ic">
                      <mdb-icon fab icon="twitter" class="text-white"></mdb-icon>
                    </a>
                    <a class="p-2 m-2 li-ic">
                      <mdb-icon fab icon="linkedin-in" class="text-white"></mdb-icon>
                    </a>
                    <a class="p-2 m-2 ins-ic">
                      <mdb-icon fab icon="instagram" class="text-white"></mdb-icon>
                    </a>
                  </div>
                </div>
              </mdb-card-body>
            </mdb-card>
            <!--/.Form-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
