<div class="container my-6">
  <div *ngIf="userLoading" class="text-center">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul *ngIf="userAdditionalData && userArticles && userData && !userLoading" class="info-panel">
        <li>
          <p>Role</p>{{ userData.data.login.user.role.name}}
        </li>
        <li>
          <p>E-mail</p>{{ userData.data.login.user.email}}
        </li>
        <li>
          <p>Registration date</p>{{ userAdditionalData.user.created_at | date }}
        </li>
        <li>
          <p>Articles</p> {{ userArticles.articlesConnection.aggregate.count }}
        </li>
        <li>
          <p>Flights</p> 37
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 shadow rounded">
      <div *ngIf="userData && !userLoading" class="row mt-3">
        <div class="col-md-8">
          <div class="avatar"><a><img mdbTooltip="Change avatar" placement="left" [src]="profilePhoto()"
                [alt]="userData.data.login.user.username"></a>
          </div>
          <div class="userData">
            <h1> {{ userData.data.login.user.username }} </h1>
            <p>{{ userAdditionalData.user.bio }}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="float-right my-2">
            <button type="button" mdbBtn class="btn-block indigo accent-4 rounded text-white" mdbWavesEffect>Update
              bio</button>
            <button type="button" mdbBtn class="btn-block indigo accent-4 rounded text-white" mdbWavesEffect>Change
              password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <ng-container
      *ngIf="userData && userArticles && !userLoading && userArticles.articlesConnection.aggregate.count !== 0; else noArticles">
      <div class="col-md-12 my-5">
        <h2>Your articles</h2>
        <app-articles [userId]="userData.data.login.user.id"></app-articles>
      </div>
    </ng-container>
    <ng-template #noArticles>
      <div *ngIf="!userLoading" class="mt-5">
        <h2>You don't have any articles</h2>
      </div>
    </ng-template>
  </div>
</div>
